.header{
	&__container{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__navigation{
		& a{
			font-size: 16px;
			color: $textColorLinkGrey;
			transition: color 0.5s;

			&:hover{
				color: $textColorBlue;
			}

			&:active{
				color: #003a6c;
			}
		}
		
		& ul{
			display: flex;
		}

		& li +li{
			margin-left: 40px;
		}
	}
}