@import "./variables";

// Section
@import "./section/firstSection";


@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.ttf)
}

body{
	font-family: 'OpenSans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	font-style: normal;
}

.container{
	// max width 940 + padding 15*2 (box-sizing: border-box)
	max-width: 970px; 
	padding: 0 15px;
	// element centering
	margin: 0 auto;
}

p {
	color: #676770;
	line-height: 1.8;
}

.logotip{
	font-size: 25px;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: $textColorBlue;
}